:root {
  --green: #739900;
  --green2: #a8d918;
  --black: #000000;
  --white: #ffffff;
  --color1: #ff8e43;
  --color2: #ededed;
}

body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin: 20px auto;
  background: var(--green);
  padding: 10px;
  place-content: center;
  width: fit-content;
}
.cell {
  width: 100px;
  height: 100px;
  font-size: 2em;
  text-align: center;
  line-height: 100px;
  background: var(--color2);
  cursor: pointer;
}
.cell.taken {
  cursor: not-allowed;
  color: rgb(255, 100, 100);
  font-weight: bold;
}

button {
  border: none;
  height: 2rem;
  width: 8rem;
  margin: 1rem;
  border-radius: 5px;
  background-color: var(--green);
  color: white;
  transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

button:hover {
  background-color: var(--green2);
  box-shadow: 0 0 0 4px #f4f4f4, 0 0 0 8px var(--green2);
}

input {
  text-align: center;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid var(--green);
}

input::placeholder {
  color: var(--green);
}
